<!DOCTYPE html>
<html lang="ko">

<head>
    <title>로그인</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link rel="stylesheet" type="text/css" href="/css/signIn/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/signIn/style.css">
</head>

<body themebg-pattern="theme1">
    <section class="login-block" themebg-pattern="theme1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form id="login-form" action="/auth/login" method="post" class="md-float-material form-material">
                        <div class="text-center">
                            <img src="img/login_logo.png" alt="로고">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">로그인</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="email" name="email" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">이메일</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="password" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">비밀번호</label>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button id="login" type="submit"
                                            class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">로그인</button>
                                    </div>
                                    <div class="col-md-12">
                                        <a id="kakao" href="/auth/kakao" class="btn btn-primary"
                                            style="width: 202px;">카카오톡</a>
                                        <a id="join" href="/join" class="btn btn-primary" style="width: 202px;">회원가입</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('loginError')) {
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        };
    </script>
</body>

</html>

{% if user and user.id %}
{% extends 'nav.html' %}

{% block title %}
<title>메인 화면</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/css/main/mainstyle.css" type="text/css">
<link rel="stylesheet" href="/css/main/animate.css">
<link rel="stylesheet" href="/css/main/style.css">
<link rel="stylesheet" href="/css/main/board.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block content %}
<div class="title-div">
    <span class="popular-challenge">인기 있는 챌린지</span>
</div>

<div class="swiper-button-prev" style="padding-left:250px; top:335px"></div>
<div class="swiper-container mySwiper" style="width: 900px; padding-bottom:50px">
    <div class="swiper-wrapper">
        {% if (boards.length == 0) %}
        <div class="swiper-slide">
            <div class="destination" style="height: 380px; padding-top: 190px;">
                <span class="contents-form">등록된 챌린지가 없습니다.</span>
            </div>
        </div>
        {% else %}
        {% for i in range( 0, boards.length, 2) %}
        <div class="swiper-slide">
            <div class="destination" style="height: 380px;">
                {% if boards[i].img %}
                <a href="/challengeBoard/{{boards[i].id}}" class="img d-flex justify-content-center align-items-center"
                    style="background-image: url({{boards[i].img}});"></a>
                {% else %}
                <a href="/challengeBoard/{{boards[i].id}}" class="img d-flex justify-content-center align-items-center"
                    style="background-image: url('/img/no-pic.png');"></a>
                {% endif %}
                <a href="/challengeBoard/{{boards[i].id}}">
                    <div class="text p-3" style="padding:10px;">
                        <div style="text-align: center;"><span class="title-form">{{boards[i].title}}</span></div>
                        <span class="contents-form">{{boards[i].contents}}</span>
                        <div style="text-align: right;"><span class="author-form">개설자 - {{boards[i].author}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-button-next" style="padding-right:250px; top:335px"></div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/main/main.js"></script>

{% endblock %}
{% endif %}