{% extends 'nav.html' %}

{% block title %}
<title>나의 정보</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/css/profile/profile.css">
<link rel="stylesheet" href="/css/profile/style.css">
{% endblock %}

{% block logo %}
<img src="/img/profile.png" width="380px" height="58px">
{% endblock %}

{% block content %}
<div style="padding-top: 50px; padding-bottom: 20px;">
  <div class="post-form-back">
    <div class="post-form">

      <div class="image-bg"><img class="image" src="/img/common.jpg"></div>

      <div class="main-content-form">
        <p>닉네임 : {{user.nick}}</p>
        <p>나이 : 19살</p>
        <p>이메일 : {{user.email}}</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}