{% extends 'nav.html' %}

{% block title %}
<title>나의 정보</title>
{% endblock %}

{% block style %}
<!-- <link rel="stylesheet" href="css/myPage/style.css"> -->
<link rel="stylesheet" href="/css/challengePost/post-form.css">
{% endblock %}

{% block content %}
<h1>이메일 :{{user.email}}</h1>
<h1>닉네임 :{{user.nick}}</h1>

<div class="post-form">
    <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
      <input type="text" name="id" value="{{board.id}}" hidden>
      <article class="post-form-article">
        <header class="post-form-header">
          <div class="profile-of-form-article">
            <img class="img-profile-form" src="/img/common.jpg">
            <span class=" main-id-form">{{board.author}}</span>
          </div>
        </header>

        <div class="hl-form"></div>

        <div class="main-image-form">
          <label id="img-label" class="img_add_btn" for="img"></label>
          <input id="img" type="file" accept="image/*" style="display: none;">
          <img id="img-preview" class="img-main-form" src="" style="display: none;">
          <input id="img-url" type="hidden" name="url">
        </div>

        <div class="hl-form"></div>

        <div class="main-content-form">
          <textarea class="main-contentin-form" placeholder="내용을 입력하세요." name="contents"></textarea>
        </div>
      </article>
      <input class="post_btn-form" type="submit" value="확인">
    </form>
  </div>

{% endblock %}